.info {
	display: flex;
	justify-content: center;
}

.img {
	width: 300px;
	border-radius: 30px 0 0 30px;
}

.description {
	border-radius: 0 30px 30px 0;
	background-color: wheat;
	padding-left: 20px;
	padding-right: 20px;

	display: flex;
	flex-direction: column;
	width: 1000px;

	position: relative;
}

.backButton {
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 10px;
	text-align: center;
	background-color: palevioletred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backButton:hover {
	border: 1px solid palevioletred;
	background-color: transparent;
	color: palevioletred;
	transform: scale(1.05);
}

.backButton {
	position: absolute;
	top: 0;
	right: 10px;

	width: 100px;
	height: 40px;
	border-radius: 30px;
}

.title,
.score,
.overviewName,
.overviewTitle,
.genresName,
.genresTitle {
	margin: 0;
	padding: 0;
}

.title,
.overviewName,
.genresName {
	padding-top: 18px;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
}

.score,
.overviewTitle,
.genresTitle {
	font-size: 18px;
	font-weight: 400;
	max-width: 1000px;
}

.line {
	margin-top: 15px;
	width: 100%;
	height: 2px;
	background-color: grey;
}

.additionalInfo {
	height: 100%;
	display: flex;
}

.additionalBox {
	display: flex;
	margin-top: 25px;
	padding-left: 20px;
	gap: 10px;
}

.link {
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 10px;
	text-align: center;
	background-color: palevioletred;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
	border: 1px solid palevioletred;
	background-color: transparent;
	color: palevioletred;
	transform: scale(1.05);
}
